body,
* {
    font-family: sans-serif;
    font-size: 1.25rem;
}

select,
button {
    margin: 0.5rem 0.5rem;
}

.App {
    font-family: sans-serif;
}

.emoji-item {
    display: flex;
    align-items: center;
    text-decoration: none;
}
